{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Page title{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Galaxy No.{{k}}</h1>
<table>
<tr>
    <td>Galaxy ID</td>
    <td>R.A.(deg)</td>
    <td>Dec.(deg)</td>
    <td>g(mag)</td>
    <td>r(mag)</td>
    <td>i(mag)</td>
    <td>mass(log M_sun)</td>
    <td>redshift</td>
</tr>
<tr>
    <td>{{ info[0] }}&nbsp;&nbsp;</td>
    <td>{{ info[1] }}&nbsp;&nbsp;</td>
    <td>{{ info[2] }}&nbsp;&nbsp;</td>
    <td>{{ info[4] }}&nbsp;&nbsp;</td>
    <td>{{ info[5] }}&nbsp;&nbsp;</td>
    <td>{{ info[6] }}&nbsp;&nbsp;</td>
    <td>{{ info[11] }}&nbsp;&nbsp;</td>
    <td>{{ info[10] }}&nbsp;&nbsp;</td>
</tr>
</table>
    
<table width="1140">
    <td>
    <h4><strong>
        current label:&nbsp;&nbsp;{% if info[51]==1 %}<font color='green'>Yes</font>{% elif info[51]==2 %}<font color='grey'>Uncertain</font>{% elif info[51]==3 %}None{% elif info[51]==0 %}<font color='red'>No</font>{% elif info[51]==6 %}<font color='grey'>Spiral</font>{% elif info[51]==4 %}<font color='grey'>Merging</font>{% elif info[51]==5 %}<font color='grey'>Peculiar</font>{% endif %}
        </strong></h4>
    </td>
    </table>
</div>

<!--PLOT-->
<div class="Content">
   <table widtd="1140" border="0" align="center" cellpadding="0" cellspacing="0">
       <tr>
            <td align='center'>g band</td>
            <td align='center'>r band</td>
            <td align='center'>i band</td>
            <td align='center'>RGB</td>
       </tr> 
       <tr>
            <td><img src="{{fig1}}" width="280" height="280"/></td>
            <td><img src="{{fig2}}" width="280" height="280"/></td>
            <td><img src="{{fig3}}" width="280" height="280"/></td>
            <td><img src="{{fig4}}" width="280" height="280"/></td>
       </tr>
    </table>
</div>

{{wtf.quick_form(form)}}

<!--BOTTONS-->
<table widtd="900" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
    <td scope="col">
    <form  action="/{% if k>1 %}{{k-1}}{% else %}1{%endif%}">
        <button type="submit" style="color: black;"><b>&lt;&lt;</b></button>
            </form></td>
    <td scope="col">
    <form action="/{% if k<Num+1 %}{{k+1}}{% else %}{{Num}}{%endif%}/last_choice:1">
        <button type="submit" style="color: green;"><b>Yes&nbsp;</b></button>
            </form></td>
    <td scope="col">
    <form  action="/{% if k<Num+1 %}{{k+1}}{% else %}{{Num}}{%endif%}/last_choice:2">
        <button type="submit"Num style="color: grey;"><b>Unc&nbsp;</b></button>
            </form></td>
    <td scope="col">
    <form action="/{% if k<Num+1 %}{{k+1}}{% else %}{{Num}}{%endif%}/last_choice:4">
        <button type="submit" style="color: grey;"><b>Mer</b></button>
            </form></td>
    <td scope="col">
    <form action="/{% if k<Num+1 %}{{k+1}}{% else %}{{Num}}{%endif%}/last_choice:5">
        <button type="submit" style="color: grey;"><b>Pec</b></button>
            </form></td>
    <td scope="col">
    <form action="/{% if k<Num+1 %}{{k+1}}{% else %}{{Num}}{%endif%}/last_choice:6">
        <button type="submit" style="color: grey;"><b>Spi</b></button>
            </form></td>
    <td scope="col">
    <form action="/{% if k<Num+1 %}{{k+1}}{% else %}{{Num}}{%endif%}/last_choice:0">
        <button type="submit" style="color: red;"><b>No&nbsp;</b></button>
            </form></td>
    <td scope="col">
    <form action="/{% if k<Num+1 %}{{k+1}}{% else %}{{Num}}{%endif%}">
        <button type="submit" style="color: black;"><b>&gt;&gt;</b></button>
            </form></td>
    </tr>
</table>
<h1>&nbsp;</h1>
{% endblock %}