{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Counts:</h1>
</div>

<div class="Content">
<h3>
<table>
    
    <tr>
    <th><a href="/stat/1">Yes</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/0">No</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/2">Polluted</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/4">Merging</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/5">Peculiar</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/6">Spirals</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/3">None</a>&nbsp;&nbsp;</th>
    <th>Total&nbsp;&nbsp;</th>
</tr>
    
<tr>
    <td align="center">{{stat[1]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[0]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[2]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[4]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[5]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[6]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[3]}}&nbsp;&nbsp;</td>
    <td align="center">{{num}}&nbsp;&nbsp;</td>

</tr>
</table>
    </h3>
<p></p>
<p>(Click labels to view details.)</p>
</div>
{% endblock %}