{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Counts:</h1>
</div>

<div class="Content">
<h3>
<table>
    
    <tr>
    <th><a href="/stat/stat/1" target="_blank">Yes</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/stat/0" target="_blank">No</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/stat/2" target="_blank">Polluted</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/stat/4" target="_blank">Merging</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/stat/5" target="_blank">Peculiar</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/stat/6" target="_blank">Spirals</a>&nbsp;&nbsp;</th>
    <th><a href="/stat/stat/3" target="_blank">None</a>&nbsp;&nbsp;</th>
    <th>Total&nbsp;&nbsp;</th>
</tr>
    
<tr>
    <td align="center">{{stat[1]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[0]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[2]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[4]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[5]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[6]}}&nbsp;&nbsp;</td>
    <td align="center">{{stat[3]}}&nbsp;&nbsp;</td>
    <td align="center">2&nbsp;&nbsp;</td>

</tr>
</table>
    </h3>
<p></p>
<p>(click labels to view detail)</p>
</div>
{% endblock %}